---js

---
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/base.css" />
  <script defer data-domain="turtlekeepers.org" src="https://plausible.io/js/script.js"></script>
</head>

<body>

{{ content | safe }}

<script src="/assets/js/base.js"></script>

</body>
</html>
