---js
let siteTitle = "Turtlekeepers";
---
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }} - {% endif %}{{ siteTitle }}</title>
</head>

<body>

{{ content | safe }}

</body>
</html>
