name: Deploy to GitHub Page

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      #- name: Persist npm cache
      #  uses: actions/cache@v4
      #  with:
      #    path: ~/.npm
      #    key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}

      #- name: Persist Eleventy .cache
      #  uses: actions/cache@v4
      #  with:
      #    path: ./.cache
      #    key: ${{ runner.os }}-eleventy-fetch-cache

      - run: npm install
      - run: npm run build:githubpages

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4 # https://github.com/peaceiris/actions-gh-pages
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
